@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Site privacy policy.</p>
<p>
    We process your data in full compliance with Regulation (EU) 2016/679 (General Data Protection Regulation or GDPR), as well as any other applicable legislation in Romania.
</p>

<p>By publishing this Privacy Policy, we inform you in a transparent manner about how we collect, use, transfer, and protect your personal data when you interact with us through our website.</p>

<p>To reflect any changes to the way we process your personal data or any changes to your legal requirements, updates and periodic changes to this Privacy Policy will be published on this page.</p>
